@-webkit-keyframes marqueechwxz {
    0% {
        text-indent: 810px;
    }

    100% {
        text-indent: -1646.2px;
    }
}

@keyframes marqueechwxz {
    0% {
        text-indent: 810px;
    }

    100% {
        text-indent: -1646.2px;
    }
}

@-webkit-keyframes marqueeavict {
    0% {
        text-indent: 810px;
    }

    100% {
        text-indent: 0px;
    }
}

@keyframes marqueeavict {
    0% {
        text-indent: 810px;
    }

    100% {
        text-indent: 0px;
    }
}

@-webkit-keyframes marqueeqwzh0 {
    0% {
        text-indent: 380px;
    }

    100% {
        text-indent: -1646.2px;
    }
}

@keyframes marqueeqwzh0 {
    0% {
        text-indent: 380px;
    }

    100% {
        text-indent: -1646.2px;
    }
}

@-webkit-keyframes marqueenxzhu {
    0% {
        text-indent: 380px;
    }

    100% {
        text-indent: 0px;
    }
}

@keyframes marqueenxzhu {
    0% {
        text-indent: 380px;
    }

    100% {
        text-indent: 0px;
    }
}

@-webkit-keyframes marqueeiki5u {
    0% {
        text-indent: 810px;
    }

    100% {
        text-indent: -1646.2px;
    }
}

@keyframes marqueeiki5u {
    0% {
        text-indent: 810px;
    }

    100% {
        text-indent: -1646.2px;
    }
}

@-webkit-keyframes marqueek1x3l {
    0% {
        text-indent: 810px;
    }

    100% {
        text-indent: 0px;
    }
}

@keyframes marqueek1x3l {
    0% {
        text-indent: 810px;
    }

    100% {
        text-indent: 0px;
    }
}

@-webkit-keyframes marquee12zd7 {
    0% {
        text-indent: 380px;
    }

    100% {
        text-indent: -1646.2px;
    }
}

@keyframes marquee12zd7 {
    0% {
        text-indent: 380px;
    }

    100% {
        text-indent: -1646.2px;
    }
}

@-webkit-keyframes marqueeyc8q2 {
    0% {
        text-indent: 380px;
    }

    100% {
        text-indent: 0px;
    }
}

@keyframes marqueeyc8q2 {
    0% {
        text-indent: 380px;
    }

    100% {
        text-indent: 0px;
    }
}
